<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fkq.student.dao.IUserDao">

	<!-- 数据库和Model的关系配置 -->
	<resultMap id="BaseResultMap" type="com.hellome.model.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="address" property="address" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 查询的具体列 -->
	<sql id="Base_Column_List">
		 id,user_name, password, phone_number,age,address
	</sql>

	<!-- 根据主键查询相关列 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user where id = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 根据主键删除基础列 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from	user where id = #{id,jdbcType=VARCHAR}
	</delete>

	<!-- 插入一条数据 -->
	<insert id="addUser" parameterType="com.hellome.model.User">
		insert into user <include refid="Base_Column_List"/> 
		values(#{id},#{userName},#{password},#{phoneNumber},#{age},#{address})
	</insert>

	<!-- 通过主键修改一条数据 -->
	<update id="updateByPrimaryKey" parameterType="com.hellome.model.User">
		update user	
		set user_name = #{userName,jdbcType=VARCHAR},
		password =	#{password,jdbcType=VARCHAR},
		phone_number =	#{phoneNumber,jdbcType=VARCHAR},
		age =	#{age,jdbcType=INTEGER},
		address =	#{address,jdbcType=VARCHAR},
		where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>